{% extends 'default.html' %}
{% load static %}
{% block title  %}
login page 
{% endblock title %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" >
{% endblock links %}
{% block content  %}
<div class="login--page">
    <div class="login--content">
    
        <form action="" class="login--form" method="post">
            {% csrf_token %}
            <div class="login--field">
                <label class="login--field--label">{{form.email.label}}</label>
                {{form.email}}
            </div>
            {% if form.email.errors %}
            <div class="errors">
                <p>


                
                {{form.email.errors}}
                    </p>
            </div>
            {% endif %}
            <button class="login--button">reset</button>

        </form>
    </div>
</div>
{% endblock content  %}