{% extends 'default.html' %}
{% load static %}
{% block title  %}
login page 
{% endblock title %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" >
{% endblock links %}
{% block content  %}
<div class="login--page">
    <div class="login--content">
    
        <form action="" class="login--form" method="post">
            {% csrf_token %}
            {{form}}
            <button class="login--button">reset</button>

        </form>
    </div>
</div>
{% endblock content  %}