*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --main-color:black;
    --text-color:black;
    --primary-color:black;
    --gray-color:rgb(43, 41, 41);
    --gray-color-hard:rgb(37, 37, 37);
    --gray-color-light:rgb(212, 219, 233);
    --black-color:rgb(0, 0, 0);
    --blue--color:rgb(48, 151, 186);
    --blue--color--light:rgb(72, 143, 172);
    
    --light--color:white;
    --red--color:rgb(224, 97, 97);


}

html{
    font-size: 15px;

}

a{
    text-decoration: none;
}
body{
    font-family: 'Inter', sans-serif;
}
.container{
    min-height: 100vh;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
}

.loading--spinner{
    width: 30px;
    height: 30px;
    border-top: 2px solid var(--light--color);
    border-radius: 20px;
    animation: rotate 0.5s linear  infinite;
    margin: 0 auto;
}
.chat--body{
    position: relative;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0,0.3);
    position: fixed;
    right: 4rem;
    bottom: 0;
    width: 23rem;
    height:30rem;
    display: flex;
    flex-direction: column;
    background-color: var(--light--color);
    font-size: 0.9rem;
}
.chat--top{
    width: 100%;
    height: 10%;
    position: relative;
}
.chat--top--user{
    display: flex;
    gap:0.6rem;
    height: 100%;
    align-items: center;
    padding-left: 1rem;
}
.chat--top--user--image{
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
}
.chat--top--user--username{
    font-size: 0.9rem;
}
.chat--top--close--btn{
    background-color: transparent;
    width: 1.4  rem;
    height: 1.4rem;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top:0.3rem;
    right: 0.3rem;
}
.chat--top--close--btn>svg{
    width: 100%;
    height: 100%;
    color: var(--gray-color);
    opacity: 0.9;

}
.chat--top--close--btn>svg:hover{
    opacity: 1;
}
.chat--bottom{
    width: 100%;
    height: 10%;
    background-color: gainsboro;
    border-top: 1px solid  rgba(0, 0, 0,0.3);
    border-bottom: 1px solid  rgba(0, 0, 0,0.3);
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
}
.chat--bottom--send--btn{
    background-color: transparent;
    width: 1.5rem;
    height: 1.5rem;
    outline: none;
    border:none;
    cursor: pointer;
}

.chat--bottom--send--btn>svg{
    width: 100%;
    height: 100%;

}
    .chat--bottom--input{
    width: 100%;
    height: 100%;
    border:none;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 1rem;
}
.chat--content{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding-bottom: 1rem;
    overflow-y: scroll;
}
.chat--content--message--wrapper{
    width: 100%;
    padding: 0.3rem 0.3rem;
    display: flex;
}
.chat--content--message--right{
    border-radius:10px;
    padding: 0.5rem;
    color: var(--light--color);
    margin-left: auto;

    background-color: var(--blue--color);
}
.chat--content--message--left{
    border-radius:10px;
    padding: 0.5rem;
    color: var(--gray-color);
    background-color: var(--light--color);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0,0.3);
}
@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
