*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --main-color:black;
    --text-color:black;
    --primary-color:black;
    --gray-color:rgb(43, 41, 41);
    --gray-color-hard:rgb(37, 37, 37);
    --gray-color-light:rgb(212, 219, 233);
    --black-color:rgb(0, 0, 0);
    --blue--color:rgb(48, 151, 186);
    --blue--color--light:rgb(72, 143, 172);
    
    --light--color:white;
    --red--color:rgb(224, 97, 97);


}

html{
    font-size: 15px;

}

a{
    text-decoration: none;
}
body{
    font-family: 'Inter', sans-serif;
}
.container{
    min-height: 100vh;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.loading--spinner{
    width: 30px;
    height: 30px;
    border-top: 2px solid var(--light--color);
    border-radius: 20px;
    animation: rotate 0.5s linear  infinite;
    margin: 0 auto;
}
@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}