.main--header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    padding:0 30px;
    border-bottom:1px solid var(--blue--color--light) ;
}


/*
main navbar
*/

    .main--nav{
        display: flex;
        gap: 6rem;
        align-items: center;
        width: 100%;
        justify-content: flex-start;
        margin-left: 10rem;



    
    
    }
    .header--menu{
        display:flex;
        gap: 3rem;
        font-size: 1.4rem;
        list-style: none;
        
    }
    .header--menu--item{

        cursor: pointer;

    }
    .header--menu--item--links{
        position: relative;
        display: block;



    }
    .header--menu--item--links>svg{
        width: 2rem;
        height: 2rem;
        color: var(--blue--color--light);
        opacity: 0.9;
    }
    .header--menu--item--links.active>svg{
        color: var(--blue--color);
        opacity: 1;
    }
    .header--menu--item--links:hover>svg{
        color:var(--blue--color);
        transform: scale(1.04);

    }

    .header--menu--item--links::after{
        content:"";
        width: 100%;
        height: 2px;
        background-color: var(--blue--color)    ;
        position: absolute;
        bottom: -10px;
        left:0;
        visibility: hidden;
    }
    .header--menu--item--links:hover::after{
        visibility: visible;
        animation: fillIt 0.3s ease ;

    }
    @keyframes fillIt {
        from{
            width: 0;
        }

        to{
            width: 100%;
        }
    }
    /*
    user account

    */
    .header--user--account--image{
        width: 2.7rem;
        height: 2.7rem;
        background-color: black;
        border-radius: 50%;
    }
    .header--user--account{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;
        cursor: pointer;

    }
    .header--user--account:hover .hidden--user--account--actions--wrapper{
        display: flex;
    }
    .hidden--user--account--actions--wrapper{
        z-index: -10;
        padding-top: 5rem;
        position: absolute;
        display: none;
    }
    .hidden--user--account--actions{
        animation: showIt 0.3s ease;

        padding-top:1rem ;
        width: 12rem;
        padding: 0.5rem 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:0.5rem;
        border: 1px solid var(--gray-color-light);
        background-color: var(--light--color);
    }
    @keyframes showIt {
        from{

            transform: translateY(-30%);
        }
        to{

            transform: translateY(0);
        }
    }
    .user--action{

        display: flex;
        justify-content: flex-start;
        gap:1rem;
        align-items: center;
        height: 2rem;
        color: var(--gray-color);
        width: 100%;
        font-size: 1rem;
        font-weight: 700;
        transition: background-color 0.4s ease;
        border-radius: 3px;

    }
    .user--action:hover{
        cursor: pointer;
        color: var(--blue--color);
        background-color: var(--gray-color-light);
    }
    .user--action--logout{
        border-radius: 3px;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;;
        width: 100%;
        height: 100%;
        background-color:var(--red--color) ;
        color: var(--light--color);
        transition: background-color 0.4s ease;
    }
    .user--action--logout:hover{
        opacity: 0.8;
    }
    .user--action--icon{
        height: 1.3rem;
        width: 1.3rem;
    }

    /* search bar  */

    /*
    search bar
    */
    .header--search{
        width: 30%;
        min-width: 300px;
        position: relative;

    }
    .header--search--input{
    width: 100%;
    height:2.7rem;
    font-size: 1.1rem;
    padding-left: 10px;
    background-color: var(--gray-color-light);
    border: 1px solid var(--blue--color--light) ;
    border-radius: 10px;
    outline: none;
    color: var(--gray-color-hard);
    outline-color: var(--blue--color);
    
}

.search--body{
    position: absolute;
    left: -12.5%;
    margin-top: 1rem;
    width: 120%;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
    background-color:var(--light--color);
    max-height:19rem;
    min-height: 10rem;
    z-index: 200;
    padding:1rem 1rem;
    display: none;
    flex-direction: column;
    overflow-y:scroll ;
    gap:0.5rem;
    animation: searchShow 0.4s ease;
}
.search--body.active{
    display: flex;
}

.search--result{
    border-radius: 5px;
    padding: 0.3rem 0.7rem;
    cursor: pointer;
    width: 100%;
    gap:1rem;
    display: flex;
    align-items:center;
    animation: resShow 0.4s ease;

}
.search--no--result{
    width:100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--gray-color);



}
@keyframes searchShow {
    0%{
        transform:translateY(-100%) ;
        opacity: 0;
    }
    100%{
        transform:translateY(0) ;
        opacity: 1;
    }
}
@keyframes resShow {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.search--result:hover{
    background-color: var(--gray-color-light);
}
.search--result--username{
    color: var(--gray-color);
}
.search--result--image{
    width:  2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
@media screen and (max-width:750px){
    html{
        font-size: 14px;
        
    }

    .header--search{

        display: none;
    }
    .main--nav{
        margin:0;
        justify-content: space-around;
    }
}
@media screen and (max-width:450px){
    html{
        font-size: 12px;
        
    }

    .header--search{

        display: none;
    }

    .header--menu{
        gap:2rem;
        justify-content: space-around;
    }
}

.notifications--counter{
    display: flex;

    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    color: var(--light--color);
    padding: 0.2rem;
    width: 1rem;
    height: 1rem;
    background-color: var(--red--color);
    border-radius: 50%;
    position: absolute;
    bottom: -0.5rem;
    
    left: 50%;
    transform: translateX(-50%);
}

.notifications--content{

    padding: 1rem;
    background-color: var(--light--color);
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 15rem;
    display: none;
    flex-direction: column;
    z-index: 100;
    gap:0.8rem;
    max-height: 300px;
    overflow-y: scroll;
}
.notifications--content.active{
    display: flex;
}
.notification--text{ 
    font-size: 0.9rem;
    width:100% ;
    color: var(--gray-color);
    font-weight: 500;
    text-align: center;
}