.home--page{

    width: 100%;
    height: 88vh;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding-bottom:2rem;

}
/*
mian feed
*/
.main--feed::-webkit-scrollbar {
    display: none;
}
.main--feed{
    width:70%;
    overflow-y:scroll ;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;



              /* Hide scrollbar for IE, Edge and Firefox */

              -ms-overflow-style: none;  /* IE and Edge */
              scrollbar-width: none;  /* Firefox */ 
                
             
}
/*
posts section
*/
.posts{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 650px;



}
.post{
    width: 100%;
    display: flex;
    flex-direction:column;
    gap:0.5rem;
    padding-bottom: 2rem;
    border-bottom: solid 1px var(--blue--color);
}
.post--top{
    width:100%;  
    display: flex;
    gap: 1rem;  
}
.post--user--image{
    width: 3rem;
    height: 3rem;
    background-color: gray;
    border-radius:50%;
}
.post--user--info{
    display: flex;
    flex-direction:column;
    gap: 0.3rem;
}
.post--user--username{
    color: var(--gray-color);
    font-size: 1.1rem;
    font-weight: 800;
    transition: all 0.3s ease;
    cursor: pointer;
}
.post--user--username:hover{
    color: var(--blue--color);
}
.post--date{
    color: var(--gray-color);
    opacity: 0.8;
    font-size: 0.9rem;
    font-weight: 700;
}
.post--tags{
    display: flex;
    gap: 0.3rem;
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--gray-color);
    opacity: 0.8;
    cursor: pointer;
}
.post--tags--title{
    opacity: 1;
    color: var(--black-color);
    font-weight: 800;

}
.post--tag{
transition: all 0.3s ease;
}
.post--tag:hover{
    opacity: 1;
    color:  var(--blue--color);

}
/*
post content
*/
.post--content--text{
    font-size: 0.91rem;
    font-weight: 700;
    color: var(--gray-color);
    padding: 0.5rem;
    letter-spacing:-0.1px;
}
.post--content--image{
    width: 100%;
    background-color:gray;
    object-fit: contain;
}
/*  post user actions*/

.post--infos{
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
    padding-left: 2rem;
}
.post--infos>div>svg{
    color: var(--gray-color);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
/* post like add button */
.post--like--add--button{
    background-color: transparent;
    border:none;
    outline: none;
    display: flex;
    align-items: center;
    color: var(--gray-color);
    
}
.post--like--add--button>svg{
    color: var(--red--color) !important;;
    width: 2rem;
    height: 2rem;
    cursor: pointer;  
}
.post--like--add--button.liked>svg{
    fill:var(--red--color)
}
.post--infos>div{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}


.post--like--icon:hover{
    fill: var(--red--color);    
}

.post--infos>div>span{
    font-weight: 700;
    color: var(--black-color);
}
/*
post comment add 
*/
.post--comment--add{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    gap:1rem;
    justify-content: space-between;
    padding: 0 1rem;
    }
.post--comment--add--input{
    width: 80%;
    height: 2rem;
    color: var(--black-color);
    padding-left: 0.5rem;
    border:none;
    border-radius: 4px;
    background-color: var(--gray-color-light);
    font-size: 1rem;
    outline: none;
}
.post--comment--add--input:focus{
    border: var(--blue--color) solid  1px;

}
.post--comment--add--button{
    width: 5rem;
    height: 2rem;
    color: var(--light--color);
    background-color: var(--blue--color);
    border-radius:4px;
    border:none;
    font-weight: 700;
    cursor: pointer;
    transition:all 0.3s ease;
}
.post--comment--add--button:hover{
    opacity: 0.8;
}
/*end*/

/*
sidebar
*/
.right--side::-webkit-scrollbar {
    display: none;
  }
.right--side{
    width:30%;
    padding-top: 5rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;


    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.right--side--post--add{
    width: 100%;
}
.post--add--form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post--add--input{
    width:100%;
    height: 5rem;
    outline: none;
    border: none;
    background-color: var(--gray-color-light);
    border-radius:2px;
    resize: none;
    font-size: 1rem;
    color: var(--gray-color);
    padding:0.4rem 1rem;
}

.form--field{
    margin-top: 1rem;
    width:100%;
    display: flex;
    justify-content: center;
}
#post--add-image{
    display: none;
}
.image--label{
    cursor: pointer;
}
.image--label>svg{
    width:2rem;
    height: 2rem;
    color: var(--gray-color);
    transition: background-color 0.3s ease;

}
.image--label:hover>svg{
    color: var(--blue--color);

}
.post--add--button{
    margin-top: 1rem;
    max-width: 200px;
    width: 100%;
    border: none;
    background-color: var(--blue--color);
    color: var(--light--color);
    height: 2.2rem;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    transition: all 0.4s ease;
}
.post--add--button:hover{
    opacity: 0.5;
}

/*
suggestions
*/
.suggestions{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction:column;
    gap: 1rem;
    align-items: center;
}
.suggestions--title{
    width:80%;

    font-weight: 700;
    font-size: 1.3rem;
    color: var(--black-color);

}
.suggestions>div{
    width:80%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.suggestions>div>h4{
    color: var(--blue--color);
    font-weight: 700;
    font-size: 1rem;
}
.suggestions>div>h5{
    color: var(--gray-color);
    font-weight: 700;
    font-size: 0.8rem;

}
.suggestions>div>h5:hover{
    color: var(--blue--color);
    cursor: pointer;
}
