
.login--page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center ; 
}
.login--content{
    width: 100%;
    max-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.3) ;
}
.login--form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.login--field{
    width: 100%;
    display: flex;
    gap:1rem;
    flex-direction: column;
}
.login--field>input{
    height: 2.5rem;
    width: 100%;
    opacity: 0.7;
    outline: none;
    padding-left: 1rem;
    font-weight: 600;
    font-size: 1rem;
    border:none;
    box-shadow:  0 0 2px 1px var(--blue--color--light);


}
.login--field>input:focus{
    opacity: 1;
    box-shadow:  0 0 5px 3px var(--blue--color--light);
 }
.login--field--label
{
    color: var(--light--color--light);
    opacity: 0.9;
font-weight: 600;
}
.input--field{
    outline: none;
    width: 100%;
    height: 35px;
    font-weight: 600;
    font-size: 1rem;
}
.login--button{
    margin: 0 auto;
    margin-top: 1rem;
    cursor: pointer;
    height:35px;
    width: 100%;
    font-weight: 600;
    max-width: 200px;
    color: var(--light--color);
    background-color: var(--blue--color);
    border:none;
    outline: none;
}
.go--sign--in{
    color: var(--gray--color-light);
    margin: 0 auto  ;
    font-weight: 600;
    opacity: 0.9;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items:center;
    height:35px;
    width: 100%;
    max-width: 200px;


}
.errors{
    color: var(--red--color);
}
.go--sign--in:hover{
   color: var(--blue--color--light);
    opacity: 1;
}