.profile--page{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 5rem;
}
.profile--page--top{
    width: 100%;
    display: flex;
    gap: 10rem;
}
/*the profile image */
.profile--page--image{
    width:10rem;
    height: 10rem;
    border-radius: 50%;
}

/* the profile info section */
.profile--page--infos{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.profile--infos--top{
    width: 100%;
    display: flex;
    gap: 3rem;
    align-items: center;
}
.profile--infos--top>div>svg{
    width: 1.8rem;
    height: 1.8rem;
    color: var(--gray-color);
    cursor: pointer;
    transition: all 0.3s ease;
}
.profile--infos--top>div>svg:hover{
    color: var(--blue--color);
}

/*profile user name */
.profile--infos--username{
    font-size: 1.9rem;
    font-weight: 500;
    color: var(--gray-color);
}
/* top bottom contains number of posts likes ...  */
.profile--infos--bottom{
    display: flex;
    gap: 2rem;
}
.profile--infos--bottom>div{
    font-weight: 600;
    color: var(--gray-color);
}

/* profile description */
.profile--description{
    width: 90%;
    max-width: 400px;
}
.profile--description>p{
    font-weight: 500;
    line-height: 1.5rem;
}

/* profile bottom */
/* profile posts */
.profile--page--bottom{
    width: 100%;
}
.profile--posts{
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.profile--post{
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 250px;
    margin: 0.5rem;
    position: relative;

}
.profile--post--image{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/*
image over lay 
*/

.image--hidden--overlay{
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: all 0.4 ease;

}
.profile--post:hover .image--hidden--overlay{
    background-color: var(--gray-color-hard);

    visibility: visible;
}
.image--hidden--overlay>div>svg{
    width: 1.7rem;
    height: 1.7rem;
    color: var(--light--color);

}
.image--hidden--overlay>div{
    display: flex;
    align-items: center;
    color: var(--light--color);
    gap:0.5rem;

}
/* profile actions /follow / options  */
.profile--user--preview--actions{
    display: flex;
    gap:3rem;
    align-items: center;
}
.profile--user--preview--action>button{
    background-color: transparent;
    outline: none;
    border:none;
}
.profile--options--btn>svg{
    width: 2rem;
    height: 2rem;
    color: var(--gray-color);
    cursor: pointer;
}
.profile--follow--btn{
    font-size: 1.1rem;
    color: var(--light--color);
    cursor: pointer;
    padding: 0.3rem 1.7rem;
    border-radius: 4px;
    background-color: var(--blue--color) !important;
    transition: opacity 0.3s ease;
}
.profile--follow--btn:hover{
    opacity: 0.9;
}
.profile--follow--btn.cancel{
    background-color: var( --red--color) !important;
}
/* media queries*/

@media screen and (max-width:500px){
    .profile--page--top{
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }
    .profile--page--infos{
        align-items: center;
    }
    .profile--infos--top{
        justify-content: center;
    }
    .profile--infos--bottom{
        width: 100%;
        justify-content: space-around;
        gap:0;
    }

}

