.profile--edit--content{
	width: 100%;
	max-width: 500px;

}
.profile--edit--form{
	width: 100%;
	padding-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.image--change--current{
	width: 3rem;
	height: 3rem;
	border-radius: 50%	;
}
.profile--eddit--form--field{
	display: flex;
	gap: 1rem;
	align-items: center;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.boi--text{
	height: 5rem !important;
	padding: 0.5rem 1rem;
	resize:none;
}
.input--field{
	width: 100%;
	font-size: 1rem;
	max-width: 420px;
	height: 2rem;
	border-radius: 2px ;
	border: none;
	background-color: var(--gray-color-light);
}

.profle--eddit--button{
	width: 100%;
	max-width: 200px;
	height: 35px;
	background-color: var(--blue--color);
	border: none;
	outline: none;
	margin: 2rem auto;
	color: var(--light--color);
	border-radius: 5px;
	cursor: pointer;
}
.profle--eddit--button:hover{
	opacity: 0.9;
}
.field--label{
	font-weight: 600;
	width: 15rem;
	padding: 0 0.5rem;
}
#hidden-field{
	display: none;
}
.image--change--button{
	border:none;
	border-radius: 5px;
	width: 6rem;
	height: 2rem;
	cursor: pointer;
	background-color: var(--blue--color);
	font-weight: 400;
	font-size: 0.9rem;
	color: var(--light--color);
	display: flex;
	align-items: center;

	justify-content: center;
}