.profile--edit--content{
	width: 100%;
	max-width: 500px;

}
.profile--edit--form{
	width: 100%;
	padding-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.image--change--current{
	width: 3rem;
	height: 3rem;
	border-radius: 50%	;
}
.profile--eddit--form--field{
	display: flex;
	gap: 1rem;
	align-items: center;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.boi--text{
	height: 2rem;
}
.input--field{
	width: 100%;
	font-size: 1rem;
	max-width: 420px;
}

.profle--eddit--button{
	width: 100%;
	max-width: 200px;
	height: 30px;
	background-color: var(--blue--color);
	border: none;
	outline: none;
	margin: 2rem auto;
	color: var(--light--color);
}
.field--label{
	font-weight: 600;
}