{% extends 'default.html' %}
{% load static %}
{% block title  %}
login page 
{% endblock title %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" >
{% endblock links %}
{% block content  %}
<div class="login--page">
    <div class="login--content">
    
        <form action="" class="login--form" method="post">
            {% csrf_token %}
            <div class="login--field">
                <label class="login--field--label">{{form.username.label}}</label>
                {{form.username}}
            </div>
            <div class="login--field">
                <label class="login--field--label">{{form.password1.label}}</label>
                {{form.password1}}
            </div>
            <div class="login--field">
                <label class="login--field--label">{{form.password2.label}}</label>
                {{form.password2}}
            </div>
            {% if form.errors %}
            <div class='errors'>
                <p>{{form.errors}}</p]>

            </div>
            {% endif  %}
            <button class="login--button">sign in</button>
            <a href={% url 'accounts:login' %} class="go--sign--in">log in</a>

        </form>
    </div>
</div>
{% endblock content  %}