{% extends './base_page.html' %}
{% load static %}
{% block extre_links %}

<link rel="stylesheet" type="text/css" href="{% static 'css/profile_edit.css' %}">

{% endblock extre_links %}


{% block settings_content %}

<div class="profile--edit--content">
    <form class="profile--edit--form" method="post">

        {% csrf_token %}

        <div class="profile--eddit--form--field">
            <label class="field--label"> {{form.old_password.label}}</label>
            {{form.old_password}}
        </div>

        <div class="profile--eddit--form--field">
            <label class="field--label"> {{form.new_password1.label}}</label>
            {{form.new_password1}}
        </div>

        <div class="profile--eddit--form--field">
            <label class="field--label"> {{form.new_password2.label}}</label>
            {{form.new_password2}}
        </div>

        
        {{form.erros}}
        {% if form.errors %}
        <div class="errors">
                {% for field,error in form.errors.items  %}
                <p>
                    .{{error}}
                </p>
                {% endfor %}
        </div>
        {% endif %}
        <button class="profle--eddit--button">save</button>

    </form>
</div>
{% endblock settings_content %}