<div id ='chat--user--search' class="chat--user--search">


    <div class="chat--user--search--top">
        <input type="text" class="chat--user--search--top--input">
    </div>
    <div class="chat--user--search--content">
        <div class="chat--user--search--result">
            <img src="{{request.user.user_profile.image.url}}" alt="" class="chat--user--search--result--img">
            <div class="last--message">
            <h3 class="chat--user--search--username">chihab</h3>
            <p class="chat--user--search--result--last--message">how are you doing </p>
                </div>
        </div>
        <div class="chat--user--search--result">
            <img src="{{request.user.user_profile.image.url}}" alt="" class="chat--user--search--result--img">
            <div class="last--message">
            <h3 class="chat--user--search--username">chihab</h3>
            <p class="chat--user--search--result--last--message">how are you doing </p>
                </div>
        </div>
        <div class="chat--user--search--result">
            <img src="{{request.user.user_profile.image.url}}" alt="" class="chat--user--search--result--img">
            <div class="last--message">
            <h3 class="chat--user--search--username">chihab</h3>
            <p class="chat--user--search--result--last--message">how are you doing </p>
                </div>
        </div>
        <div class="chat--user--search--result">
            <img src="{{request.user.user_profile.image.url}}" alt="" class="chat--user--search--result--img">
            <div class="last--message">
            <h3 class="chat--user--search--username">chihab</h3>
            <p class="chat--user--search--result--last--message">how are you doing </p>
                </div>
        </div>
                <div class="chat--user--search--result">
            <img src="{{request.user.user_profile.image.url}}" alt="" class="chat--user--search--result--img">
            <div class="last--message">
            <h3 class="chat--user--search--username">chihab</h3>
            <p class="chat--user--search--result--last--message">how are you doing </p>
                </div>
        </div>
                <div class="chat--user--search--result">
            <img src="{{request.user.user_profile.image.url}}" alt="" class="chat--user--search--result--img">
            <div class="last--message">
            <h3 class="chat--user--search--username">chihab</h3>
            <p class="chat--user--search--result--last--message">how are you doing </p>
                </div>
        </div>
                <div class="chat--user--search--result">
            <img src="{{request.user.user_profile.image.url}}" alt="" class="chat--user--search--result--img">
            <div class="last--message">
            <h3 class="chat--user--search--username">chihab</h3>
            <p class="chat--user--search--result--last--message">how are you doing </p>
                </div>
        </div>
    </div>
</div>