{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet"> 

    <title> {% block title %}{% endblock title %}</title>
    <link rel="stylesheet"  href="{% static 'css/base.css' %}">
    <link rel="stylesheet"  href="{% static 'css/header.css' %}">
    {% block links %}
    {% endblock links %}
</head>
<body>
    <div class="container">
        <!--
            header 
        -->
        {% include 'header.html' %}
        <!--
            end 
        -->
        {% for message in messages %}

        <div>
            {{message}}                
        </div>
        {% endfor %}

        {% block content %}
    
    {% endblock content %}
    
    </div>
    {% block js %}
    {% endblock js %}
    <script  src="{% static 'js/csrf.js' %}"></script>

    <script src="{% static 'js/search.js' %}"></script>

</body>
</html>