{% extends 'base.html' %}
{% load static %}
{% block title %}{{request.user}} home{% endblock title %}

{% block links %}
<link rel='stylesheet' href="{% static 'css/home.css' %}">
{% endblock links %}




{% block content %}
<section class='home--page' id="home--page">
<div class="model-ng" id="model-ng">
    <div class="comments--model" id="model--content">
        <button class="model--close--button" id="model--close--button">&times;</button>

        <!--added-->

        <!---->
      
    </div>

    </div>
<div class="post--add--model" id="post--add--model">
    <div class="post--add--model--content">
        <button class="post--model--close--button" id="post--model--close--button">&times;</button>

             <form class="post--add--form" id="post--model--add--form">
                <textarea type="text" class="post--add--input"></textarea>
                <div class="form--field">
                    <label class="image--label" for="post--add-image">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
                          </svg>
                    </label>
                    <input type="file" name="post--add-image" id="post--add-image" />


                </div>
                <button class="post--add--button" id="post--model--form--add-btn" >post</button>
            </form> 
        
</div>
</div>
    <div class="main--feed">
        <div class="posts">
            {% for post in posts %}
            <div class="post">
                <div class="post--top">
                    <img src="{{post.user.user_profile.image.url}}" alt="" class="post--user--image">
                    <div class="post--user--info">
                        <a href='{% url "accounts:profile" post.user.username %}'  class="post--user--username">{{post.user.username}}</a>
                        <div class="post--date">{{post.get_post_time}} ago</div>
                        <div class="post--date">published on {{post.published |date:"M d, Y"}}</div>
                        <div class="post--tags">
                            <span class="post--tags--title"> tags </span>
                            <div class="post--tag">fun</div>
                            <div class="post--tag">programming</div>
                            <div class="post--tag">django</div>
                        </div>
                    </div>
                </div>
                <div class="post--content">
                    {% if post.body %}
                    <p class="post--content--text">
                        {{post.body}}
                    </p>
                    {% endif %}
                    {% if post.image %}
                    <img src="{{post.image.url}}" alt="" class="post--content--image">
                    {% endif %}
                </div>
                <div class="post--infos">
                    <div class=" post--infos--likes">
                        <button  class="post--like--add--button" postId="{{post.id}}">
                                    
                            <svg class="post--like--icon" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                              </svg>

                        </button>

                          <span class="post--infos--like--count">{{post.get_likes_count}}</span>
                    </div>
                    <button  class="post--comment--show--button" postId="{{post.id}}">
                        <svg class="post--comment--icon" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
                          </svg>
                        <span class="post--infos--comments--count">{{post.get_comments_count}}</span>
                    </button>
                </div>
                <form class="post--comment--add" postId="{{post.id}}">
                    <input type="text" class="post--comment--add--input">
                    <button class="post--comment--add--button">comment</button>
                </form>
            </div>
            {% endfor  %}
            {% if posts.has_other_pages %}
                <div class="pagination">
                    <ul class="pagination--content">

              {% if posts.has_previous %}
                <li><a href="?p={{ posts.previous_page_number }}">&laquo;</a></li>
              {% else %}
                <li class="disabled"><span>&laquo;</span></li>
              {% endif %}
              {% for i in posts.paginator.page_range %}
                {% if posts.number == i %}
                  <li class="active"><span>{{ i }} <span class="sr-only"></span></span></li>
                {% else %}
                  <li><a href="?p={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if posts.has_next %}
                <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
              {% else %}
                <li class="disabled"><span>&raquo;</span></li>
              {% endif %}
            </ul>
        </div>
          {% endif %}
        </div>

        
    </div>
    <div class="right--side">
        <div class="right--side--post--add">
            <!-- <form class="post--add--form">
                <textarea type="text" class="post--add--input"></textarea>
                <div class="form--field">
                    <label class="image--label" for="post--add-image">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
                          </svg>
                    </label>
                    <input type="file" name="post--add-image" id="post--add-image" />


                </div>
                <button class="post--add--button">post</button>
            </form> -->
            <button class="post--add--button"  id="post--add--button">post</button>

        </div>

        <div class="suggestions">
            <h3 class="suggestions--title">
                suggestions
            </h3>
            <div class="suggestions--posts">
                <h4 class="suggestions--user--title">people you may like </h4>
                <h5 class="suggestion">Chihab</h5>
                <h5 class="suggestion">adam</h5>
                <h5 class="suggestion">amin</h5>
            </div>

            <div class="suggestions--posts">
                <h4 class="suggestions--user--title">posts you may like </h4>
                <h5 class="suggestion">
                    seen by 39 user </h5>
                <h5 class="suggestion">its my post title liked by 13 people </h5>
                <h5 class="suggestion">its my post title liked by 13 people </h5>
            </div>
            <div class="suggestions--most--visited--posts">
                <h4 class="suggestions--most--visited--title">most visited posts </h4>
                <h5 class="suggestion">
                    title : seen by 39 user </h5>
                <h5 class="suggestion">
                    title :  seen by 39 user </h5>
                <h5 class="suggestion">
                    title :  seen by 39 user </h5>
            </div>

            <div class="suggestions--liked--visited--posts">
                <h4 class="suggestions--most--liked--title">most liked posts </h4>
                <h5 class="suggestion">
                    title : liked by 39 user </h5>
                <h5 class="suggestion">
                    title :  liked by 39 user </h5>
                <h5 class="suggestion">
                    title :  liked by 39 user </h5>
            </div>
        </div>

    </div>

</section>

{% endblock content %}

{% block js %}
<!--<script src="{%  static 'css/home.js' %}"></script>
-->
<script src="{% static 'js/home/home.js' %}"></script>

<script src="{% static 'js/home/like.js' %}"></script>
<script src="{% static 'js/home/comment.js' %}"></script>
<script src="{% static 'js/home/model.js' %}"></script>
<script src="{% static 'js/home/postAdd.js' %}"></script>

{% endblock js %}